language: ruby
sudo: false
cache: bundler
rvm:
  - 2.4.1
  - 2.3.4
  - 2.2.7
gemfile:
  - gemfiles/rails_4.2.8.gemfile
  - gemfiles/rails_5.0.2.gemfile
  - gemfiles/rails_5.1.0.rc1.gemfile
after_success:
  - bundle exec codeclimate-test-reporter
services:
  - postgresql
addons:
  postgresql: '9.4'
before_script:
  - psql -c 'create database ajax_datatables_rails;' -U postgres
